* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}
body {
  background: #eee;
  padding: 40px;
}
.container {
  background: #ddd;
  padding: 30px;
  border: 2px solid #333;
  max-width: 900px;
  margin: auto;
}

h2 {
  margin-bottom: 20px;
}
.infor{
  display: flex;
  gap: 20px;
  margin-bottom: 15px;
}
.infor input {
  flex: 1;
}
.full {
  width: 100%;
  margin-bottom: 15px;
}
textarea {
  height: 200px;
  resize: none;
}
input,
textarea {
  padding: 10px;
  border: 1px solid #aaa;
  border-radius: 4px;
}
.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

button {
  background: #5dade2;
  border: none;
  padding: 10px 20px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #3498db;
}

.bottom p {
  font-size: 14px;
  color: #555;
}
